*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    text-align: center;
    position: relative;
    overflow: hidden;
}

.content-background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-image: url('../images/background.jpg');
    background-size: cover;
}

.content{
    display: inline-block;
    width: 1200px;
    height: 100vh;
    padding-top: 80px;
    padding-bottom: 20px;
    z-index: 5;
    position: relative;
}

.main-card{
    width: 100%;
    height: 750px;
    background-color: rgba(3, 52, 52, 0.564);
    backdrop-filter: blur(8px);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    text-align: left;
    padding: 20px;
    padding-left: 40px;
    font-family: 'Josefin Sans', sans-serif;
}

.card-header{
    width: 100%;
    height: 75px;
    line-height: 75px;
    text-align: left;
    user-select: none;
}

.go-back-button{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-image: url("../../src/icons/back-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
    cursor: pointer;
    transform: translateY(-4px);
}

.card-header-text{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
    display: inline-block;
    vertical-align: middle;
}

.puzzle-list{
    display: inline-block;
    margin-left: 40px;
}

.puzzle-list a{
    text-align: left;
    color: white;
    text-decoration: none;
    border: none;
   
}

.puzzle-list li{
    margin-top: 10px;
}


.input-area{
    width: 500px;
    height: 650px;
    display: inline-block;
    vertical-align: top;
}

.input-header{
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
}

.input-header-text{
    color: white;
    font-size: 22px;
}

.input-text-area{
    width: 90%;
    height: 510px;
    background-color: rgba(201, 201, 201, 0.1);
    margin-left: 20px;
    outline: none;
    border: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    padding: 15px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
}

.chooseFile{
    width: 145px;
    height: 25px;
    background-color: white;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: center;
    line-height: 28px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

textarea {
    cursor: auto;
    resize: none;
}

.input-text-area::-webkit-scrollbar-track {
    background-color: rgba(201, 201, 201, 0.2);
}

.input-text-area::-webkit-scrollbar {
    width: 10px;
}


.input-text-area::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
}


.result-area{
    width: 600px;
    height: 610px;
    background-color: rgba(201, 201, 201, 0.1);
    display: inline-block;
    vertical-align: top;
    border-radius: 25px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
    position: relative;
    padding: 25px;
}

.result{
    width: 100%;
    height: 75px;
    line-height: 75px;
    margin-bottom: 20px;
}

.result-text{
    color: white;
    font-size: 22px;
}